<header>
  <button> </button>
</header>

<div class="container">

  <div class="adicionar">
    <div class="componentes">
      <h1>Crie sua lista de tarefas</h1>
      <input type="text" [(ngModel)]="tarefa" placeholder="Nova tarefa">
      <button (click)="addTarefa()">Add</button>
    </div>
  </div>

  <div class="tarefas">
    <header>
      <div class="tarefas-concluidas">
        <label class="switch">Concluídas 
          <input type="checkbox" class="hidden-toggle" [(ngModel)]="showCompleted">
          <div class="slider">
            <div class="button"></div>
          </div>
        </label>
      </div>  
    </header>

    <ul>
      <li *ngFor="let item of filteredItems; let i = index">
        <!-- Div de edição da tarefa -->
        <div *ngIf="editIndex === i; else viewMode">
          <input [(ngModel)]="editingItem" placeholder="Editar tarefa">
          <button (click)="saveTarefa(i)">Salvar</button>
        </div>
  
        <!-- Visualização da tarefa com riscado ao marcar como concluída -->
        <ng-template #viewMode>
          <span [class.completed]="item.completed">{{ item.text }}</span> <!-- Texto da tarefa com riscado -->
          
          <div class="botoes">
            <button (click)="editTarefa(i)">Editar</button>
            <button (click)="removeTarefa(item)">Remover</button>
            <input type="checkbox" [(ngModel)]="item.completed">
          </div>

        </ng-template>
      </li>
    </ul>
    
  </div>
</div>